$main-base: #B1B1B1;
$card-base: #747474;
$btn-color: #444444;
$dark-base: #0A0708;

.main {
  //background-color: $main-base;
}

.card {
  background-color: $main-base;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px solid $dark-base;
  max-width: 50rem;

  .btn-section {
    width: 100%;
    border: 1px solid $dark-base;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding:1.75rem 1.25rem;
    .drum-pad {
      padding: 1.25rem 1.25rem 1.25rem 1.75rem;
    }
  }
  .display-section{
    .drum-title{
      margin: 2rem;
    }
    .input-div{
      margin-top: 3rem;
    }
  }
  .btn-div{
    margin: 2rem;
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.2rem;

    input[type=checkbox]{
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider{
        background-color: $dark-base;
        &:before{
          transform: translateX(2.6rem);
        }
      }
      &:focus + .slider{
        box-shadow: 0 0 1px #2196F3;
      }
    }

    .slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $card-base;
      transition: .4s;
      &:before{
        position: absolute;
        content: "";
        height: 2.6rem;
        width: 2.6rem;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
      }
    }
    .slider.round{
      border-radius: 34px;
      &:before{
        border-radius: 50%;
      }
    }

  }

}